@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");
.🍌, .🔆, .🌳 {
    background-image: url('mainsiteicon/image.png');
    background-repeat: no-repeat;
    background-size: contain center;
    font-family: "Gowun Dodum", sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 900;
    text-shadow: 0 0.1em 20px rgb(255, 255, 255), 0.05em -0.03em 0 rgb(255, 255, 255), 0.05em 0.005em 0 rgb(255, 255, 255), 0em 0.08em 0 rgb(255, 255, 255), 0.05em 0.08em 0 rgb(255, 255, 255), 0px -0.03em 0 rgb(255, 255, 255), -0.03em -0.03em 0 rgb(255, 255, 255), -0.03em 0.08em 0 rgb(255, 255, 255), -0.03em 0 0 rgb(255, 255, 255);
}
.🍌, .🔆, .🌳 {
    transform: scale(0.9);
    display: inline-block;
}
/*h1:first-child {
    animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
}
h1:last-child {
    animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
}
    
@keyframes bop {
    0% {
        transform: scale(0.9);
    }
    50%, 100% {
        transform: scale(1);
    }
}
@keyframes bopB {
    0% {
        transform: scale(0.9);
    }
    80%, 100% {
        transform: scale(1) rotateZ(-3deg);
    }
}*/
* {
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

:root{
--acc-bounce: cubic-bezier(0.175, 0.885, 0.320, 1.275);
--acc-sine: cubic-bezier(0.390, 0.575, 0.565, 1.000);
--base-delay: 255ms;
--variable-delay: 55ms;
}

*:before,
*:after{
content: '';
display: block;
background-size: contain;
background-repeat: no-repeat;
position: absolute;
}

.📺{
width: 500px;
height: 600px;
position: relative;
transform: scale(.67);
perspective: 500px;
animation: float-wrapper 5s var(--acc-sine) infinite;
}

@keyframes float-wrapper{
0%{
    transform: scale(.67);
}
50%{
    transform: scale(.67,.68) translate3d(0, -8px, 0);
}
100%{
    transform: scale(.67); 
}
}

.🍌,
.🍇,
.🍦{
position: absolute;
left: -15rem; top: 0;
width: 100%;
height: 100%;
transition: all var(--acc-sine) 255ms;
cursor: pointer;
}

.🍦{
transform: scale(.99) translate3d(1%,1%,0);
}

.📺:hover .🍦{
transform: none;
}

.🍦:before{
background-image: url('mainsiteicon/자동차.png');
width: 263px;
height: 454px;
left: 50%;
animation: fadeIn-popsicle-before .5s var(--acc-bounce) 1 forwards;
animation-delay: var(--base-delay);
opacity: 0;
}


@keyframes fadeIn-popsicle-before{
0%{
    opacity: 0;
    transform: translateX(-50%) scale(.89);
}
100%{
    opacity: 1;
    transform: translateX(-50%);
}
}

@keyframes fadeIn-popsicle-after{
0%{
    opacity: 0;
    transform:scale(.96);
}
100%{
    opacity: 1;
    transform: rotateZ(-5deg);
}
}

.🍌{
transform: scale(1.01) translate3d(-1%, 1%, 0);
}

.📺:hover .🍌{
transform: none;
}

.🍌:before{
background-image: url('mainsiteicon/무지개3.png');
width: 250px;
height: 363px;
left: 15%;
top: 3%;
animation: fadeIn-banana-before .5s  var(--acc-bounce) 1 forwards;
animation-delay: calc(var(--base-delay) + var(--variable-delay) * 1);
opacity: 0;
}

@keyframes fadeIn-banana-before{
0%{
    opacity: 0;
    transform: scale(.96) translateY(-13%);
}
100%{
    opacity: 1;
    transform: none;
}
}

.🍌:after{
content: '여행 가이드';
top: 0;
font-family: "Gowun Dodum", sans-serif, cursive;
font-size: 75px;
transform: rotateZ(-5deg) translateZ(5px);
left: 10%;
animation: fadeIn-banana-after .5s  var(--acc-bounce) 1 forwards;
animation-delay: calc(var(--base-delay) + var(--variable-delay) * 2);
opacity: 0;
}

@keyframes fadeIn-banana-after{
0%{
    opacity: 0;
    transform: scale(.96) translateY(-13%) translateZ(21px);
}
100%{
    opacity: 1;
    transform: rotateZ(-5deg) translateZ(5px);
}
}

.📺:hover .🍇{
transform: scale(1.01) translate3d(-1%, 1%, 0);
}

.🍇:before{
background-image: url('mainsiteicon/나뭇잎2.png');
width: 111px;
height: 121px;
right: 25%;
top: 20%;
animation: fadeIn-berry-before .5s var(--acc-bounce) 1 forwards; 
animation-delay: calc(var(--base-delay) + var(--variable-delay) * 4);
opacity: 0;
}

@keyframes fadeIn-berry-before{
0%{
    opacity: 0;
    transform: scale(.96) translateY(8%);
}
100%{
    opacity: 1;
    transform: none;
}
}

@keyframes fadeIn-berry-after{
0%{
    opacity: 0;
    transform: scale(.96) translateY(13%);
}
100%{
    opacity: 1;
    transform: rotateZ(13deg);
}
}



@media only screen and (max-height: 600px){
.📺{
    transform: scale(.6);
}
}

@keyframes float-wrapper{
    0%{
    transform: scale(.6);
    }
    50%{
    transform: scale(.6,.61) translate3d(0, -8px, 0);
    }
    100%{
    transform: scale(.6); 
    }
}

/*두번째 아이콘*/
    .👫🏼{
    width: 500px;
    height: 600px;
    position: relative;
    transform: scale(.67);
    perspective: 500px;
    animation: float-wrapper 5s var(--acc-sine) infinite;
    }
    
    @keyframes float-wrapper{
    0%{
        transform: scale(.67);
    }
    50%{
        transform: scale(.67,.68) translate3d(0, -8px, 0);
    }
    100%{
        transform: scale(.67); 
    }
    }
    
    .🔆,
    .🌸,
    .🚶🏼‍♂️{
    position: absolute;
    left: -13.5rem; top: 0;
    width: 100%;
    height: 100%;
    transition: all var(--acc-sine) 255ms;
    cursor: pointer;
    }
    
    .🚶🏼‍♂️{
    transform: scale(.99) translate3d(1%,1%,0);
    }
    
    .👫🏼:hover .🚶🏼‍♂️{
    transform: none;
    }
    
    .🚶🏼‍♂️:before{
    background-image: url('mainsiteicon/여행객2.png');
    width: 193px;
    height: 394px;
    left: 60%;
    top: 1%;
    animation: fadeIn-popsicle-before .5s var(--acc-bounce) 1 forwards;
    animation-delay: var(--base-delay);
    opacity: 0;
    }
    
    
    @keyframes fadeIn-popsicle-before{
    0%{
        opacity: 0;
        transform: translateX(-50%) scale(.89);
    }
    100%{
        opacity: 1;
        transform: translateX(-50%);
    }
    }
    
    @keyframes fadeIn-popsicle-after{
    0%{
        opacity: 0;
        transform:scale(.96);
    }
    100%{
        opacity: 1;
        transform: rotateZ(-5deg);
    }
    }
    
    .🔆{
    transform: scale(1.01) translate3d(-1%, 1%, 0);
    }
    
    .👫🏼:hover .🔆{
    transform: none;
    }
    
    .🔆:before{
    background-image: url('mainsiteicon/해2.png');
    width: 250px;
    height: 363px;
    left: 14%;
    top: -5%;
    animation: fadeIn-banana-before .5s  var(--acc-bounce) 1 forwards;
    animation-delay: calc(var(--base-delay) + var(--variable-delay) * 1);
    opacity: 0;
    }
    
    @keyframes fadeIn-banana-before{
    0%{
        opacity: 0;
        transform: scale(.96) translateY(-13%);
    }
    100%{
        opacity: 1;
        transform: none;
    }
    }
    
    .🔆:after{
    content: '커뮤니티';
    top: 0;
    font-family: "Gowun Dodum", sans-serif, cursive;
    font-size: 75px;
    transform: rotateZ(-5deg) translateZ(5px);
    left: 10%;
    animation: fadeIn-banana-after .5s  var(--acc-bounce) 1 forwards;
    animation-delay: calc(var(--base-delay) + var(--variable-delay) * 2);
    opacity: 0;
    }
    
    @keyframes fadeIn-banana-after{
    0%{
        opacity: 0;
        transform: scale(.96) translateY(-13%) translateZ(21px);
    }
    100%{
        opacity: 1;
        transform: rotateZ(-5deg) translateZ(5px);
    }
    }
    
    .👫🏼:hover .🌸{
    transform: scale(1.01) translate3d(-1%, 1%, 0);
    }
    
    .🌸:before{
    background-image: url('mainsiteicon/데이지.png');
    width: 131px;
    height: 115px;
    right: 15%;
    top: 18%;
    animation: fadeIn-berry-before .5s var(--acc-bounce) 1 forwards; 
    animation-delay: calc(var(--base-delay) + var(--variable-delay) * 4);
    opacity: 0;
    }
    
    @keyframes fadeIn-berry-before{
    0%{
        opacity: 0;
        transform: scale(.96) translateY(8%);
    }
    100%{
        opacity: 1;
        transform: none;
    }
    }
    
    @keyframes fadeIn-berry-after{
    0%{
        opacity: 0;
        transform: scale(.96) translateY(13%);
    }
    100%{
        opacity: 1;
        transform: rotateZ(13deg);
    }
    }
    
    .🆗{
    outline: 0;
    border: 0;
    padding: 0;
    background: none;
    font: inherit;
    color: inherit;
    position: absolute;
    right: 0;
    bottom: -21px;
    transition: all 144ms var(--acc-sine);
    transform-origin: top left;
    perspective: 600px;
    transform: scale(.96) translate3d(3%,3%,0) rotateZ(-5deg);
    }
    
    .👫🏼:hover .🆗{
    transform: rotateZ(-3deg);
    }
    
    .🆗:after{
    content: 'gimme!';
    display: block;
    position: relative;
    padding: 13px 34px;
    font-family: 'Roboto';
    font-weight: 700;
    font-style: italic;
    color: #0d2e60;
    background-image: linear-gradient(120deg, #e8cd09 0%, #ffe000 100%);
    font-size: 34px;
    border-radius: 6.5px 22.5px 22.5px 22.5px;
    animation: fadeIn-button .5s var(--acc-bounce) 1 forwards;
    opacity: 0;
    animation-delay: calc(var(--base-delay) + var(--variable-delay) * 6);
    cursor: pointer;
    transform-origin: top left;
    background-size: 200% 100%;
    }
    
    @keyframes fadeIn-button{
    0%{
        opacity: 0;
        transform: translate3d(-13%,-13%,0) scaleX(.55) scaleY(.96);
    }
    100%{
        opacity: 1;
        transform: translate3d(0%,0%,0) ;
    }
    }
    
    .🆗:hover:after {
    background-position: 100% 0;
    }
    
    @media only screen and (max-height: 600px){
    .👫🏼{
        transform: scale(.6);
    }
    }
    
    @keyframes float-wrapper{
        0%{
        transform: scale(.6);
        }
        50%{
        transform: scale(.6,.61) translate3d(0, -8px, 0);
        }
        100%{
        transform: scale(.6); 
        }    
}

/*세번째 아이콘*/
.🏘️{
    width: 500px;
    height: 600px;
    position: relative;
    transform: scale(.67);
    perspective: 500px;
    animation: float-wrapper 5s var(--acc-sine) infinite;
    }
    
    @keyframes float-wrapper{
    0%{
        transform: scale(.67);
    }
    50%{
        transform: scale(.67,.68) translate3d(0, -8px, 0);
    }
    100%{
        transform: scale(.67); 
    }
    }
    
    .🌳,
    .🍄,
    .🏠{
    position: absolute;
    left: -10rem; top: 0;
    width: 100%;
    height: 100%;
    transition: all var(--acc-sine) 255ms;
    cursor: pointer;
    }
    
    .🏠{
    transform: scale(.99) translate3d(1%,1%,0);
    }
    
    .🏘️:hover .🚶🏼‍♂️{
    transform: none;
    }
    
    .🏠:before{
    background-image: url('mainsiteicon/상점2.png');
    width: 180px;
    height: 464px;
    left: 50%;
    top: 13%;
    animation: fadeIn-popsicle-before .5s var(--acc-bounce) 1 forwards;
    animation-delay: var(--base-delay);
    opacity: 0;
    }
    
    
    @keyframes fadeIn-popsicle-before{
    0%{
        opacity: 0;
        transform: translateX(-50%) scale(.89);
    }
    100%{
        opacity: 1;
        transform: translateX(-50%);
    }
    }
    
    @keyframes fadeIn-popsicle-after{
    0%{
        opacity: 0;
        transform:scale(.96);
    }
    100%{
        opacity: 1;
        transform: rotateZ(-5deg);
    }
    }
    
    .🌳{
    transform: scale(1.01) translate3d(-1%, 1%, 0);
    }
    
    .🏘️:hover .🌳{
    transform: none;
    }
    
    .🌳:before{
    background-image: url('mainsiteicon/나무2.png');
    width: 250px;
    height: 363px;
    left: 15%;
    top: -5%;
    animation: fadeIn-banana-before .5s  var(--acc-bounce) 1 forwards;
    animation-delay: calc(var(--base-delay) + var(--variable-delay) * 1);
    opacity: 0;
    }
    
    @keyframes fadeIn-banana-before{
    0%{
        opacity: 0;
        transform: scale(.96) translateY(-13%);
    }
    100%{
        opacity: 1;
        transform: none;
    }
    }
    
    .🌳:after{
    content: '로컬 스토어';
    top: 0;
    font-family: "Gowun Dodum", sans-serif, cursive;
    font-size: 75px;
    transform: rotateZ(-5deg) translateZ(5px);
    left: 10%;
    animation: fadeIn-banana-after .5s  var(--acc-bounce) 1 forwards;
    animation-delay: calc(var(--base-delay) + var(--variable-delay) * 2);
    opacity: 0;
    }
    
    @keyframes fadeIn-banana-after{
    0%{
        opacity: 0;
        transform: scale(.96) translateY(-13%) translateZ(21px);
    }
    100%{
        opacity: 1;
        transform: rotateZ(-5deg) translateZ(5px);
    }
    }
    
    .🏘️:hover .🍄{
    transform: scale(1.01) translate3d(-1%, 1%, 0);
    }
    
    .🍄:before{
    background-image: url('mainsiteicon/쇼핑카트3.png');
    width: 121px;
    height: 131px;
    right: 27%;
    top: 26%;
    animation: fadeIn-berry-before .5s var(--acc-bounce) 1 forwards; 
    animation-delay: calc(var(--base-delay) + var(--variable-delay) * 4);
    opacity: 0;
    }
    
    @keyframes fadeIn-berry-before{
    0%{
        opacity: 0;
        transform: scale(.96) translateY(8%);
    }
    100%{
        opacity: 1;
        transform: none;
    }
    }
    
    @keyframes fadeIn-berry-after{
    0%{
        opacity: 0;
        transform: scale(.96) translateY(13%);
    }
    100%{
        opacity: 1;
        transform: rotateZ(13deg);
    }
    }
    
    .🆗{
    outline: 0;
    border: 0;
    padding: 0;
    background: none;
    font: inherit;
    color: inherit;
    position: absolute;
    right: 0;
    bottom: -21px;
    transition: all 144ms var(--acc-sine);
    transform-origin: top left;
    perspective: 600px;
    transform: scale(.96) translate3d(3%,3%,0) rotateZ(-5deg);
    }
    
    .🏘️:hover .🆗{
    transform: rotateZ(-3deg);
    }
    
    .🆗:after{
    content: 'gimme!';
    display: block;
    position: relative;
    padding: 13px 34px;
    font-family: 'Roboto';
    font-weight: 700;
    font-style: italic;
    color: #0d2e60;
    background-image: linear-gradient(120deg, #e8cd09 0%, #ffe000 100%);
    font-size: 34px;
    border-radius: 6.5px 22.5px 22.5px 22.5px;
    animation: fadeIn-button .5s var(--acc-bounce) 1 forwards;
    opacity: 0;
    animation-delay: calc(var(--base-delay) + var(--variable-delay) * 6);
    cursor: pointer;
    transform-origin: top left;
    background-size: 200% 100%;
    }
    
    @keyframes fadeIn-button{
    0%{
        opacity: 0;
        transform: translate3d(-13%,-13%,0) scaleX(.55) scaleY(.96);
    }
    100%{
        opacity: 1;
        transform: translate3d(0%,0%,0) ;
    }
    }
    
    .🆗:hover:after {
    background-position: 100% 0;
    }
    
    @media only screen and (max-height: 600px){
    .🏘️{
        transform: scale(.6);
    }
    }
    
    @keyframes float-wrapper{
        0%{
        transform: scale(.6);
        }
        50%{
        transform: scale(.6,.61) translate3d(0, -8px, 0);
        }
        100%{
        transform: scale(.6); 
        }    
}

/*메인화면 버튼 = About*/

.btn-jelly {
    margin: 1.5rem;
    width: 8.5rem;
    height: 3.5rem;
    font-size: 1.5rem;
}

.btn-jelly:hover {
    animation: jelly 0.5s;
}

@keyframes jelly {
    25% {
        transform: scale(0.9, 1.1);
   }
    50% {
        transform: scale(1.1, 0.9);
   }
    75% {
        transform: scale(0.95, 1.05);
   }
}



